git_info.h
.DS_Store
FieldAgent2/.DS_Store
*~
.#*
build/
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3
*.xcworkspace/
xcuserdata/
FieldAgent2.xcodeproj/project.xcworkspace/xcuserdata/thepaddedcell.xcuserdatad/UserInterfaceState.xcuserstate
PunchForkApiAccount.plist
