<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PunchForkApiUrlString</key>
	<string>http://api.punchfork.com</string>
	<key>PunchForkApiKey</key>
	<string>62278798725d1db1</string>
</dict>
</plist>
